/vendor
/node_modules
.env
/vendor/_laravel_ide/
node_modules/.cache/
node_modules/.vite/
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*.log
!/storage/logs/.gitignore